PassengerEnabled on
   PassengerAppRoot /home/tanjlwvj/moviewhiz.xyz
   PassengerAppType node
   PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/tanjlwvj/moviewhiz.xyz"
PassengerBaseURI "/"
PassengerNodejs "/home/tanjlwvj/nodevenv/moviewhiz.xyz/14/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv OPENAI_API_KEY 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
SetEnv EMAIL_PW 9UsmidPc3ubREoyK@DXP3XqzcJ
SetEnv EMAIL_USER moviewhiz-contact@tanjaschmidt.com
SetEnv EMAIL_TO tanja@tanjaschmidt.com
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END