@font-face {
    src: url('../assets/fonts/Spectron.woff2') format('woff2');
    font-family: 'Spectron';
}

@font-face {
    src: url('../assets/fonts/texgyreadventor-regular.woff2') format('woff2');
    font-family: 'TeX Gyre Adventor';
    font-weight: normal;
}

@font-face {
    src: url('../assets/fonts/texgyreadventor-bold.woff2') format('woff2');
    font-family: 'TeX Gyre Adventor';
    font-weight: bold;
}

@font-face {
    src: url('../assets/fonts/texgyreadventor-italic.woff2') format('woff2');
    font-family: 'TeX Gyre Adventor';
    font-style: italic;
    font-weight: normal;
}

@font-face {
    src: url('../assets/fonts/texgyreadventor-bolditalic.woff2') format('woff2');
    font-family: 'TeX Gyre Adventor';
    font-style: italic;
    font-weight: bold;
}

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #0B090A;
    --blue: #17BEBB;
    --orange: #FF333A;
    --orange-light: #FF8589;
    --orange-dark: #FF0000;
    --red: #CC0007;
    --red-dark: #A30005;
    --white: #FFFFFF;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TeX Gyre Adventor', var(--system-ui), sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    display: flex;
    place-content: center flex-start;
    align-items: center;
    background-color: var(--black);
    flex-flow: column nowrap;
    gap: 10px;
    height: 100vh;

    padding: 0px;
    position: relative;
}

.container {
    display: flex;
    place-content: center flex-start;
    align-items: center;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px 64px;
    height: fit-content;
    max-width: 975px;
    overflow: auto;
    padding: 50px;
    position: relative;
    width: auto;
}

.header {    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    color: #FFF
}

.header-title {
    display: flex;
    gap: 12px;
}

.header-title h1 {
    width: 100%;
    font-family: "Spectron", var(--system-ui), sans-serif;
    font-size: 6.5em;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
}

.header-subtitle h2, .header-subtitle p {
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.header-subtitle p {
    font-size: 1em;
    text-align: left;
}

.neon-text {
    text-shadow: 0 0 10px var(--blue),
    0 0 20px var(--blue),
    0 0 40px var(--blue),
    0 0 80px var(--blue),
    0 0 100px var(--blue),
    0 0 150px var(--blue);
}


.prompt-container {
    place-content: flex-end center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 16px;
    height: min-content;
    padding: 0px;
    width: min-content;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.prompt-box {
    border: 1px solid rgba(255, 255, 255, 0.25);
    place-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: 150px;
    padding: 20px;
    position: relative;
    width: 610px;
    max-width: 1200px;
    will-change: transform;
    overflow: auto;
    outline: none;
    resize: none;
    line-height: 1.6em;
    text-align: start;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    text-transform: none;
}

textarea {
    font-family: "TeX Gyre Adventor", var(--system-ui), sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 0.5;
}


.prompt-box:focus {
    border-color:rgba(255, 255, 255, 0.75)
}

/*
.prompt-buttons {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 12px;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}
*/

/*
.key-stroke {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.key-stroke p {
    color: rgba(255, 255, 255, 0.75);
    flex: 0 0 auto;
    height: auto;
    position: relative;
    white-space: pre;
    width: auto;
}

.or {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.or p {
    color: rgba(255, 255, 255, 0.25)
}
*/
.generate-button {
    place-content: flex-start;
    align-items: flex-start;
    background: linear-gradient(to right, var(--red) 0%, var(--red-dark) 70%);
    border-radius: 100px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    gap: 10px;
    height: min-content;
    overflow: hidden;
    padding: 16px 24px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    position: relative;
    text-decoration: none;
    width: min-content;
    will-change: transform;
    cursor: pointer;

}

.generate {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.generate p {
    color: var(--white);
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.loading {
    opacity: 0.7;
    cursor: default;
}

/*
.badge-container {
    display: flex;
    bottom: 20px;
    flex: 0 0 auto;
    height: auto;
    left: 20px;
    position: fixed;
    width: auto;
    z-index: 1;
}

.badge-container a {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 54.3478% / 238.095%;
    filter: grayscale(1);
    transform: none;
    transform-origin: 50% 50% 0px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1em;
    color: #fff;
    padding: 12px;
    text-decoration: none;
}

.badge {
    display: flex;
    align-items: center;
}

.badge img {
    width: 21px;
    height: 17px;
    image-rendering: pixelated;
    flex-shrink: 0;
    fill: black;
    color: black;
    transform: none;
    transform-origin: 50% 50% 0px;
    padding-right: 5px;
}

.badge p {
    margin: 0;
}

 */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.output {
    place-content: center flex-start;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    height: min-content;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.output-header-container {
    place-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    height: min-content;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
    margin-top: 0.5em;
}

.output-header h2 {
    font-size: 2em;
    font-style: normal;
    font-weight: bold;
    text-align: start;
    color: var(--white);
    text-decoration: none;
    text-transform: none;
    margin: 0;
}

.output-content {
    outline: none;
    display: flex;
    /* max-width: 25%; */
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    transform: none;
}

.output-content p {
    text-align: center;
    white-space: pre-line;
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 810px) and (max-width: 1199px) {
    .container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-container {
        max-width: 600px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 809px) {
    .container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-container {
        max-width: 500px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 400px;
        width: 100%;
    }

    .header-title h1 {
        font-size: 15vw;
    }

    .header-subtitle h2 {
        text-align: center;
    }

    /*
    .key-stroke, .or {
        display: none;
    }
    */

    .prompt-buttons {
        justify-content: center;
    }

    .prompt-container {
        max-width: 400px;
        width: 100%;
    }

    .prompt-box {
        width: 100%;
    }
}


 /* Loading ring animation */
.loader {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    border-top: 2px solid #FFF;
    border-right: 2px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
